<div class="hamburger-menu hamburger-menu-half bg-extra-dark-gray lg-w-60 md-w-60 sm-w-100">
    <a href="javascript:void(0);" class="close-menu text-white"><i class="fas fa-times"></i></a>
    <div class="d-flex flex-column align-items-center justify-content-center h-100 padding-6-rem-all md-padding-2-rem-lr xs-no-padding-lr">
        <a href="/" class="d-none d-lg-inline-block"><img src="/logo.png" alt="" class="md-w-160px" /></a>
        <div class="menu-list-wrapper w-75 lg-w-80 md-w-75 sm-w-60 xs-w-100 position-relative padding-15px-lr margin-3-rem-tb" data-scroll-options='{ "theme": "light" }'>
            <div class="tab-content">
                <!-- start menu -->
                <ul class="menu-list alt-font w-70 xl-w-100 margin-auto-lr tab-pane med-text fade in active show" id="main-menu">
                    <li class="menu-list-item">
                        <a href="javascript:void(0);">Home</a><span class="menu-toggle"></span>
                    </li>
                </ul>
                <!-- end menu -->
                <!-- start menu -->
                <ul class="menu-list alt-font w-70 xl-w-100 margin-auto-lr tab-pane fade in" id="lawyer-online">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <ul class="list-style-08">
                                <hr>
                                <strong>Lawyers Online</strong>
                                <hr>
                                <li class="border-bottom border-color-black-transparent" style="padding: 0px 0;">
                                    <div class="header-language dropdown open">                                            
                                        <a href="javascript:void(0);"><img class="rounded-circle border-all border-width-6px border-color-green box-shadow-small margin-25px-right xs-w-40px xs-margin-4px-right" src="https://via.placeholder.com/73x73" alt="" style="width: 50px;"/></a>
                                        <ul class="dropdown-menu alt-font" style="right: -94px!important;min-width:174px!important;">
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-square"> Post a question </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-circle"> Chat online </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-phone-call"> Request a callback</span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-calendar"> Book a meeting </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-briefcase"> Hire The lawyer </span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-user-plus"> Open profile </span></a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="w-100 lg-w-65 xs-w-60 xs-margin-10px-right last-paragraph-no-margin">
                                        <span class="font-weight-300 text-small text-white">Green salad</span>
                                        <small><p>UAE, Dubai</p></small>
                                    </div>
                                    <!-- <div class="font-weight-500 text-extra-medium text-extra-dark-gray">$10.00</div> -->
                                </li>
                                <hr>
                                <li class="border-bottom border-color-black-transparent" style="padding: 0px 0;">
                                    <div class="header-language dropdown open">                                            
                                        <a href="javascript:void(0);"><img class="rounded-circle border-all border-width-6px border-color-green box-shadow-small margin-25px-right xs-w-40px xs-margin-4px-right" src="https://via.placeholder.com/73x73" alt="" style="width: 50px;"/></a>
                                        <ul class="dropdown-menu alt-font" style="right: -94px!important;min-width:174px!important;">
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-square"> Post a question </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-circle"> Chat online </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-phone-call"> Request a callback</span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-calendar"> Book a meeting </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-briefcase"> Hire The lawyer </span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-user-plus"> Open profile </span></a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="w-100 lg-w-65 xs-w-60 xs-margin-10px-right last-paragraph-no-margin">
                                        <span class="font-weight-300 text-small text-white">Green salad</span>
                                        <small><p>UAE, Dubai</p></small>
                                    </div>
                                    <!-- <div class="font-weight-500 text-extra-medium text-extra-dark-gray">$10.00</div> -->
                                </li>
                                <hr>
                                <strong>Lawyers Offline</strong>
                                <hr>
                                <li class="border-bottom border-color-black-transparent" style="padding: 0px 0;">
                                    <div class="header-language dropdown open">                                            
                                        <a href="javascript:void(0);"><img class="rounded-circle border-all border-width-6px border-color-green box-shadow-small margin-25px-right xs-w-40px xs-margin-4px-right" src="https://via.placeholder.com/73x73" alt="" style="width: 50px;border-color:red!important;"/></a>
                                        <ul class="dropdown-menu alt-font" style="right: -94px!important;min-width:174px!important;">
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-square"> Post a question </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-message-circle"> Chat online </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-phone-call"> Request a callback</span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-calendar"> Book a meeting </span></a></li>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-briefcase"> Hire The lawyer </span></a></li>
                                            <hr>
                                            <li style="padding:0px 0!important;line-height:0px!important;"><a href="javascript:void(0);" title="English" style="color: black;text-align:center;font-size:medium;"><span class="feather icon-feather-user-plus"> Open profile </span></a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="w-100 lg-w-65 xs-w-60 xs-margin-10px-right last-paragraph-no-margin">
                                        <span class="font-weight-300 text-small text-white">Green salad</span>
                                        <small><p>UAE, Dubai</p></small>
                                    </div>
                                    <!-- <div class="font-weight-500 text-extra-medium text-extra-dark-gray">$10.00</div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
                <!-- end menu -->
            </div>
        </div>
        <hr>
        <div class="tab-style-05">
            <div class="tab-box">
                <!-- start tab navigation -->
                <ul class="nav nav-tabs margin-7-rem-bottom md-margin-5-rem-bottom xs-margin-15px-lr align-items-center justify-content-center font-weight-500 text-uppercase">
                    <li class="nav-item alt-font"><a class="nav-link active" href="#main-menu" data-bs-toggle="tab">Menu</a></li>
                    <li class="nav-item alt-font"><a class="nav-link" href="#lawyer-online" data-bs-toggle="tab">Lawyers Online</a></li>
                </ul>
                <!-- end tab navigation -->
            </div>
        </div>
        <div class="text-center elements-social social-icon-style-12 d-none d-md-inline-block">
            <ul class="small-icon light">
                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</div>