.blog-card {
    display: flex;
    margin-bottom: 30px;
    img {
        width: 273px;
    }
    .blog-card-content {
        margin-left: 29px;
        max-width: 336px;

        .blog-card-content-time {
            margin-top: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 167.5%;
            /* or 27px */


            color: #156075;
        }
        .blog-card-content-desc {
            display: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 167.5%;
            /* or 33px */


            color: #156075;
        }
        h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 167.5%;

            color: #156075;
        }
    }

    &.full {
        display: block;
        img {
            width: 630px;
        }
        .blog-card-content {
            max-width: 630px;
            margin-left: 0px;
            .blog-card-content-time {
                margin-top: 11px;
            }
            .blog-card-content-desc {
                display: block;
                font-weight: 400;
                font-size: 20px;
                line-height: 167.5%;
                width: 619px;
            }
            h4 {
                font-weight: 700;
                font-size: 28px;
                line-height: 167.5%;
            }
        }
    }
    &.with-articles {
        display: block;
        .blog-card-content {
            max-width: 273px;
            margin-left: 0px;
            .blog-card-content-time {
                font-weight: 400;
                font-size: 16px;
                line-height: 167.5%;
                /* or 27px */

                color: #191919;
            }
            .blog-card-content-desc {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 167.5%;
                /* or 23px */
                

                color: #191919;

            }
            h4 {
                font-weight: 700;
                font-size: 20px;
                line-height: 167.5%;
                /* or 33px */
                width: 282px;

                color: #156075;
            }
        }
    }

    @media (max-width: 1808px) {
        &.full {
            img {
                width: 450px;
            }
            .blog-card-content {
                max-width: 450px;
                .blog-card-content-desc {
                    width: 439px;
                }
            }
        }
    }
    @media (max-width: 1636px) {
        img {
            width: 263px;
        }
        .blog-card-content {
            margin-left: 29px;
            max-width: 300px;
        }
        &.full {
            img {
                width: 350px;
            }
            .blog-card-content {
                max-width: 350px;
                .blog-card-content-desc {
                    width: 339px;
                }
            }
        }
    }
    @media (max-width: 1500px) {
        &.full {
            img {
                width: 630px;
            }
            .blog-card-content {
                max-width: 630px;
                .blog-card-content-desc {
                    width: 619px;
                }
            }
        }
    }
    @media (max-width: 1060px) {
        &.full {
            img {
                width: 530px;
            }
            .blog-card-content {
                max-width: 530px;
                .blog-card-content-desc {
                    width: 519px;
                }
            }
        }
    }

    @media (max-width: 644px) {
        img {
            width: 165px;
            height: 100%;
        }
        .blog-card-content {
            width: 100%;
            margin-left: 15px;
            .blog-card-content-time {
                font-weight: 400;
                font-size: 10px;
                line-height: 167.5%;
                /* identical to box height, or 17px */

                margin-top: 0;
                color: #156075;
            }
            h4 {
                font-weight: 700;
                font-size: 11px;
                line-height: 167.5%;
                /* or 18px */


                color: #156075;
            }
        }
        &.full {
            img {
                width: 100%;
                height: auto;
            }
            .blog-card-content {
                width: 100%;
                .blog-card-content-time {
                    margin-top: 15px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 167.5%;
                    /* or 23px */


                    color: #156075;
                }
                .blog-card-content-desc {
                    margin-top: 10px;
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 167.5%;
                    color: #156075;
                    width: 100%;
                }
                h4 {
                    margin-top: 1px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 167.5%;
                    /* or 40px */


                    color: #156075;
                }
            }
        }
        &.with-articles {
            width: 50% !important;
            padding: 0 8px 0;
            img {
                width: 100%;
                height: auto;
            }
            .blog-card-content {
                width: 100%;
                .blog-card-content-time {
                    margin-top: 10px;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 167.5%;
                    /* identical to box height, or 17px */

                    width: 100%;

                    color: #156075;
                }
                .blog-card-content-desc {
                    margin-top: 14px;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 167.5%;
                    /* or 17px */


                    color: #191919;
                    width: 100%;
                }
                h4 {
                    margin-top: 1px;
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 167.5%;
                    /* or 18px */

                    width: 100%;
                    color: #156075;
                }
            }
        }
    }
    @media (max-width: 324px) {
        display: block;
        .blog-card-content {
            margin-left: 0;
        }
        &.with-articles {
            width: 100% !important;
        }
    }

    
}
// 644
.blog-page {
    background-color: #c2dde4;
    padding-left: 92px;
    padding-right: 122px;
    @media (max-width: 1330px) {
        padding-left: 52px;
        padding-right: 82px;
    }
    @media (max-width: 1150px) {
        padding-left: 32px;
        padding-right: 32px;
    }
    @media (max-width: 644px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    .blog-header {
        padding-top: 68px;
        position: relative;

        font-family: 'Poppins';
        font-style: normal;
        /* identical to box height */


        color: #191919;
        h1 {
            font-weight: 600;
            font-size: 128px;
            line-height: 192px;
            color: #191919;
        }
        p {
            width: 710px;

            font-weight: 400;
            font-size: 24px;
            line-height: 167.5%;
            /* or 40px */


            color: #191919;
        }
        img {
            width: 170.53px;
            height: 180.53px;
            margin-right: 74px;
            // top: 92px;
        }
        @media (max-width: 1330px) {
            h1 {
                font-size: 100px;
            }
            p {
                width: 510px;
            }
        }
        @media (max-width: 1060px) {
            h1 {
                font-size: 80px;
            }
            p {
                width: 410px;
                font-size: 20px;
            }
        }
        @media (max-width: 644px) {
            padding-top: 82px;
            img {
                position: absolute;
                right: 0;
                top: 29px;
                width: 87.84px;
                height: 93px;
                margin-right: 0px;
            }
            h1 {
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
                /* identical to box height */


                color: #191919;
            }
            p {
                width: 100%;
                padding-left: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 167.5%;
                /* or 27px */


                color: #191919;
            }
        }
        @media (max-width: 320px) {
            h1 {
                font-size: 32px;
            }
            p {
                font-size: 12px;
            }
            img {
                position: absolute;
                right: 0;
                top: 29px;
                width: 77.84px;
                height: 83px;
            }
        }
    }
    .blog-header-content {
        margin-top: 55px;
        padding-bottom: 28px;
        .custom-col {
            @media (min-width: 992px) {
                width: 50%;
            }
        }
    }
}

.articles-page {
    background-color: #ffffff;
    padding-left: 92px;
    padding-right: 122px;
    @media (max-width: 1330px) {
        padding-left: 52px;
        padding-right: 82px;
    }

    @media (max-width: 1150px) {
        padding-left: 32px;
        padding-right: 32px;
    }
    .articles-content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 105px;
        margin: 0 2px 19px;
        
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 167.5%;
            color: #156075;
        }
        select {
            margin-left: 5px;
            background: transparent;
            border: 1px solid #208C84;
            border-radius: 15.5px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #191919;
            padding-left: 14px;
            padding-right: 22px;
            padding-top: 4px;
            padding-bottom: 4px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: 94% center;
            background-size: 1em;
            appearance: none;
        }
        @media (max-width: 644px) {
            h3 {
                font-weight: 500;
                font-size: 16px;
                line-height: 167.5%;
                /* identical to box height, or 27px */


                color: #156075;
            }
            select {
                width: 80px;
                font-size: 10px;
                padding-left: 12px;
                padding-right: 22px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
        @media (max-width: 380px) {
            flex-wrap: wrap;
            h3 {
                font-size: 12px;
            }
            select {
                margin-left: 0;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 70px;
                font-size: 8px;
            }
        }
    }
    .articles-content-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 179px;
        @media (min-width: 1675px) and (max-width: 2000px){
            justify-content: space-between;
        }
        & > .blog-card {
            width: 290px;
        }
    }
}