.testimonials-page {
    background-color: #F4FEFA;
    margin-bottom: -3px;
    padding-left: 67px;
    padding-right: 67px;
    @media (min-width: 992px) {
        padding-left: 21px;
    }
    @media(max-width:1104px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media(max-width:767px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    .testimonial-header {
        padding-top: 68px;
        position: relative;

        font-family: 'Poppins';
        font-style: normal;
        /* identical to box height */


        color: #191919;
        h1 {
            font-weight: 600;
            font-size: 64px;
            line-height: 96px;
            span {
                padding-left: 14px;
                color: #208C84
            }
        }
        p {
            max-width: 883px;
            min-height: 134px;
            width: 46vw;
            font-weight: 400;
            font-size: 24px;
            line-height: 167.5%;
            color: #191919;
        }
        img {
            width: 168px;
            height: 142px;
            position: absolute;
            right: 14px;
            top: 85px;
        }
        @media(max-width:1400px) {
            h1 {
                width: 262px;
                span {
                    padding-left: 0;
                }
            }
        }

        @media(max-width:1200px) {
            padding-top: 61px;
            h1 {
                width: 262px;
                height: auto;
                margin-bottom: 11px;
                font-size: 40px;
                line-height: 117.5%;
            }
            p {
                font-size: 16px;
                width: 100%;
                height: auto;
            }
            img {
                width: 90px;
                height: 76px;
                top: 24px;
            }
        }
        @media(max-width: 340px) {
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
            }
            img {
                top: 12px;
            }
        }
    }


    @media(max-width:767px) {
        padding-bottom: 30px;
        margin-bottom: 0px;
    }

    .testimonial-content {
        margin-top: 44px;
        padding-top: 34px;
        position: relative;
        .testimonial-content-header {
            position: absolute;
            right: 12px;
            top: -20px;
            select {
                margin-left: 5px;
                background: transparent;
                border: 1px solid #208C84;
                border-radius: 15.5px;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #191919;
                padding-left: 14px;
                padding-right: 22px;
                padding-top: 4px;
                padding-bottom: 4px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: 94% center;
                background-size: 1em;
                appearance: none;
            }
            @media(max-width:767px) {
                right: 12px;
                top: 37px;
                select {
                    width: 78px;
                    height: 20px;
                    font-size: 10px;
                    line-height: 15px;
                    padding-left: 12px;
                    padding-right: 22px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
            @media(max-width:420px) {
                top: 6px;
            }
        }
    }

    .custom-col {
        @media (max-width:1400px) {
            width: 50% !important;
            &:nth-child(3) {
                display: none !important;
            }
        }

    }
    
    

    .mesage-card {
        justify-content: space-between;
        overflow-y: auto;
        max-height: 1430px;
        .first-card-sm-img {
            height: 80px;

            @media(max-width:991px) {
                height: auto;
            }

        }

        .first-card-sm-hide {
            @media(max-width:767px) {
                display: none;
            }
        }

        .secend-card-sm-img {
            height: 180px;

            @media(max-width:991px) {
                height: auto;
            }

        }

        .add-button-testimonial {
            // position: absolute;
            // top: -20px;
            font-family: 'Poppins';
            font-style: normal;
            padding-left: 17px;
            font-weight: 400;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            margin-right: 18px;
            cursor: pointer;
            // @media (min-width: 992px) {
            //     width: 530px;
            // }
            .plus-button {
                width: 62px;
                height: 62px;

                background: rgba(33, 140, 133, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                span {
                    width: 28px;
                    height: 28px;
                    font-size: 40px;
                    /* line-height: 30px; */
                    color: #11564F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            p {
                padding-left: 18px;
                font-weight: 400;
                font-size: 24px;
                line-height: 167.5%;
                color: #191919;
            }

            @media(max-width:767px) {
                padding-left: 0px;
                margin-bottom: 35px;
                .plus-button {
                    width: 26px;
                    height: 26px;
                    span {
                        font-size: 20px;
                    }
                }
                p {
                    padding-left: 6px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 167.5%;
                }
            }
            @media(max-width:420px) {
                margin-bottom: 10px;
            }
        }

        

        .message-card-wraper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 247px;
            background: #FFFFFF;
            border: 1px solid #3DC9A1;
            border-radius: 30px 30px 30px 0px;
            padding: 32px 27px;
            margin: 20px 0px;
            &.bottom-empty {
                min-height: 133px;
            }
            @media (min-width: 992px) and (max-width: 1110px) {
                width: 100%;
            }
            // @media (min-width: 1110px) and (max-width: 1400px) {
            //     width: 48%;
            // }
            // @media (min-width: 1400px) {
            //     width: 32%;
            // }
            @media (max-width: 767px) {
                min-height: auto;
            }

            @media(max-width:992px) and (min-width: 862px) {
                padding: 32px 16px;
            }
            @media(min-width:1600px) {
                min-height: 200px;
            }

            &:hover {
                background: #3DC9A1;
            }

            @media(max-width:767px) {
                margin: 9px 0px;
            }

            p {
                font-family: $pr;
                font-style: italic;
                font-size: 14px;
                line-height: 25px;

                @media(max-width:767px) {
                    line-height: 141%;
                }



                color: #191919;



            }

            .message-card-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                @media(max-width:340px) {
                    display: block;
                }

                .img-description {
                    display: flex;
                    align-items: center;

                    img {
                        width: 58px;
                        height: 58px;
                        margin-right: 6px;

                        @media(max-width:767px) {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    h5,
                    h6 {
                        font-family: $pb;
                        font-size: 16px;
                        color: #191919;

                        @media(max-width:767px) {
                            font-size: 15px;
                            line-height: 12px;
                        }

                    }

                    h6 {
                        font-family: $pr;
                        font-size: 14px;
                        margin-top: 5px;

                        @media(max-width:767px) {
                            font-size: 10px;
                            line-height: 12px;
                            margin-top: 2px;
                        }
                    }
                }

                .ratings {
                    @media(max-width:767px) {

                        margin-top: 10px;
                    }

                    .ratings-card {
                        display: flex;

                        img {
                            width: 18px;
                            margin-left: 5px;

                            @media(max-width:767px) {
                                width: 9px;
                            }
                        }
                        @media(max-width:767px) 
                        {
                            padding: 3px 6px;
                            border: 1px solid #3DC9A1;
                            border-radius: 26px;
                        }
                        @media(max-width:340px) {
                            display: block;
                            max-width: 104px;
                        }
                    }

                    h5 {
                        text-align: right;
                        margin-top: 10px;
                        font-size: 12px;

                        @media(max-width:767px) {
                            font-size: 5px;
                            margin-top: 5px;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 15px;
                            /* identical to box height */
                            
                            
                            color: #191919;
                        }
                    }
                }

            }

            &.right-empty {
                margin-top: -153px !important;
            }

        }

        .bg-green {
            background: #3DC9A1;
        }

        .bg-empty {
            opacity: 0.2;
        }


    }

    .md-hide {
        @media(max-width: 767px) {
            display: none !important;
        }
    }

    .sm-hide {
        @media(min-width: 768px) {
            display: none !important;
        }
    }
}

.load-more-testimonial {
    margin-bottom: 60px;
    margin-top: 33px;
    position: relative;
    .opaque-bg {
        width: calc(100vh - 300px);
        top: -276px;
        position: absolute;
        height: 227px;
        width: 100%;
        background: linear-gradient(0deg, #f3fffa 16.56%, rgba(232, 248, 242, 0) 69.35%)
    }
    p {
        cursor: pointer;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        text-align: center;
        text-decoration-line: underline;

        color: #3DC9A1;
    }
    @media (max-width: 767px) {
        .opaque-bg {
            top: -230px;
        }
    }
}