
.ask-lawyer-main {
    background: rgba(194, 221, 228, 0.5);
    position: initial;
}


.ask-lawyer-form {
    background: #FFFFFF;
    border-radius: 15px;
    height: fit-content;
}

.bg-gray {
    background: #EFEFEF;
    padding: inherit;
    border-radius: 13px;
}

.bg-white {
    background: white;
    padding: inherit;
    border-radius: 13px;
}

.need-lawyer {
    color: #156075;
}

.popup-img-bg {
    background: #EFEFEF;
    border-radius: 100px;
    vertical-align: middle;    
}

.popup-menu {
    width: 80%!important;
}

.fixed-width {
    width: 300px;
}

.ui-widget-header {
    border: 1px solid #208C84!important;
    background: #208C84!important;
}


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book-a-meeting-form {
    border: 1px solid #ced4da!important;
    border-radius: 0.600rem!important;
}

.r-p-text {
    font-size: 30px;
    font-weight: bolder;
}

.calendar {
    width: 40px;
}

@media only screen and (max-width: 600px) {
    .m-width {
        width: 106%!important;
    }

    .reset-password-text {
        text-align: center!important;
        margin-top: -25%!important;
        padding: 3rem!important;
    }

    .ask-lawyer-main {
        height: 390px!important;
        padding: 6%!important;
        margin: auto!important;
    }

    .hangout-img {
        width: 35px!important;
    }

    .looking-else {
        padding: 10px!important;
        font-size: 15px!important;
    }

    .advice-btns {
        width: 14.83px!important;
        margin-top: 5%!important;
        vertical-align: text-bottom;
    }

    .advice-txt {
        font-size: 7px!important;
        align-self: flex-end!important;
        margin-top: -6%!important
    }    

    .home-banner {
        margin-top: 17%!important;
    }

    .lawyers-section {
        margin-left: -1%!important;
    }

    .lawyer-3 {
        margin-left: 40%!important;
        margin-top: 1%!important;
    }

    .lawyers {
        position: relative;
        width: 107px;
        left: 58%;
        background: #FFFFFF;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
        border-radius: 15px;
        margin-right: 1%;
    }

    .need-lawyer {
        font-size: 23px!important;
    }

    .single-lawyer {
        margin-top: -4.5rem!important;
        width: 125%!important;
    }

    .buy-quote {
        width: 21%!important;
        vertical-align: middle;
    }

    .buy-quote-sec {
        margin-top: -4%!important;
    }

    .need-lawyer-descr {
        font: 14px "Poppins-Regular"!important;
    }

    .modal-popup {
        margin-left: -3%!important;
    }

    .advice-popup-body {
        margin-left: -4%!important;
        margin-top: -2%!important;
        margin-bottom: -6%!important;
    }

    .popup-lawyers {
        margin-left: 10%!important;
    }

    .b-q-sec-popup {
        margin-left: 7%!important;
    }
} 


@media only screen and (min-width: 600px) {
    .ask-lawyer-main {
        margin-left: 2%!important;        
        height: 390px!important;
    }


    .looking-else {
        padding: 10px!important;
        font-size: 17px!important;
    }

    .advice-btns {
        width: 22.83px!important;
        margin-top: 5%!important;
        vertical-align: text-bottom;
    }

    .advice-txt {
        font-size: 11px!important;
        align-self: flex-end!important;
        margin-top: -6%!important
    }    
    
} 


@media only screen and (min-width: 768px) {
    .ask-lawyer-main {
        margin-left: 2%!important;        
        height: 390px!important;
    }

    .need-lawyer {

    }

    .hangout-img {
        /* width: inherit!important; */
    }

    .looking-else {
        padding: 10px!important;
        font-size: 17px!important;
    }

    .advice-btns {
        width: 22.83px!important;
        margin-top: 5%!important;
        vertical-align: text-bottom;
    }

    .advice-txt {
        font-size: 11px!important;
        align-self: flex-end!important;
        margin-top: -6%!important
    }    
} 

@media only screen and (min-width: 992px) {    
    .ask-lawyer-main {
        margin-left: 2%!important;        
        height: 390px!important;
    }

    .looking-else {
        padding: 10px!important;
        font-size: 17px!important;
    }

    .advice-btns {
        width: 22.83px!important;
        margin-top: 5%!important;
        vertical-align: text-bottom;
    }

    .advice-txt {
        font-size: 11px!important;
        align-self: flex-end!important;
        margin-top: -6%!important
    }    
} 

@media only screen and (min-width: 1200px) {
    .ask-lawyer-main {
        margin-left: 2%!important;        
        height: 390px!important;
    }

    .looking-else {
        padding: 10px!important;
        font-size: 17px!important;
    }

    .advice-btns {
        width: 22.83px!important;
        margin-top: 5%!important;
        vertical-align: text-bottom;
    }

    .advice-txt {
        font-size: 11px!important;
        align-self: flex-end!important;
        margin-top: -6%!important
    }    

    .lawyers-section {
        margin-left: -1%!important;
    }

    .lawyer-3 {
        margin-left: 40%!important;
        margin-top: 1%!important;
    }

    .lawyers {
        position: relative;
        width: 107px;
        left: 58%;
        background: #FFFFFF;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
        border-radius: 15px;
        margin-right: 1%;
    }

    .need-lawyer {
        font-size: 23px!important;
    }

    .single-lawyer {
        margin-top: -4.5rem!important;
        width: 125%!important;
    }

    .buy-quote {
        width: 21%!important;
        vertical-align: middle;
    }

    .buy-quote-sec {
        margin-top: -4%!important;
    }

    .need-lawyer-descr {
        font: 14px "Poppins-Regular"!important;
    }

    .modal-popup {
        margin-left: -3%!important;
    }

    .advice-popup-body {
        margin-left: -4%!important;
        margin-top: -2%!important;
        margin-bottom: -6%!important;
    }

    .popup-lawyers {
        margin-left: 10%!important;
    }

    .b-q-sec-popup {
        margin-left: 7%!important;
    }

    .lawyer-name {
        margin-left: -20%!important;
        align-self: center!important;
    }

    .popup-img-bg {
        width: 40px!important;
        height: 40px!important;
    }
    
    .popup-img {
        height: 25px!important;
        width: 25px!important;
        margin-left: 22%!important;
        margin-top: 16%!important;
    }

    .time-devider {
        margin-left: -5%!important;
    }

    .calendar-img {
        width: 40px!important;
        height: 40px!important;
    }

    .slot-calendar-img-section {
        margin-right: 10%!important;
    }

    .slot-time-amt {
        border-radius: 15px!important;
    }

    .date-select {
        margin-left: 4%!important;
    }

    .slot-section {
        margin-left: -2%!important;
    }
}







.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}