.practice-area {
    padding-left: 5%;
}

.p-a-header {
    width: 678px;
    height: 96px;
    left: 450px;
    top: 134px;
    font: 43px "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    line-height: 96px;
    color: #191919;
}

.q-v-c {
    font:17px "Poppins-Regular"!important;
}

.p-a-card-main {
    display: flex;
}

.p-a-cards {
    box-sizing: border-box;
    background: #C2DDE4;
    margin: 5px 3% 2% 0;
    height: 220px;
    width: 40%!important;
}

.p-a-col-6 {
   margin-right: -6%;
   width: 57%!important;
}

.p-a-card-img {
    position: relative;
    top: 18%;
    width: 50px;
}

.p-a-card-name {
    width: 200px;
    height: 20%;
    left: 537px;
    top: 417px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #156075;
    margin-top: 22%;
}

.p-a-card-btn {
    width: 122px;
    height: 38px;
    left: 539px;
    top: 487px;
    background: #85BACA;
    border: none;
    margin-top: 5%;
}

.p-a-second-card {
    margin-left: -4%;
}

.p-a-man {
    max-width: 86%!important;
}

.p-a-second-row {
    margin-left: -2.5%;
    margin-top: 3%;
}

.p-a-faq-text {
    width: 71px;
    height: 40px;
    left: 1196px;
    top: 978px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167.5%;
    color: #156075;
}

.p-a-third-row {
    margin-left: -6%;
}

.p-a-frequent-text {
    width: 580px;
    left: 1193px;
    top: 1018px;
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 72px;
    color: #191919;
}

.p-a-a-q {
    color: #156075;
}

.p-a-w-coll-sec {
    width: 100%;
    margin-top: 5%;
}

.p-a-accordion {
    background-color: #C2DDE4;
    color: #156075;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 2%;
  }
  
  .p-a-accordion:after {
    content: '\002B';
    color: #156075;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 21px;
  }

  .p-a-active-box:after {
    content: "\2212";
  }
  
  .p-a-panel {
    padding: 0 18px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .p-a-fourth-row {
      margin-top: 5%;
  }

  .p-a-testimonials-header {
    width: 100%;
    height: 96px;
    left: 942px;
    top: 1787px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 96px;
    color: #191919;
    text-align: center;
  }

.p-a-testimonials {
    box-sizing: border-box;
    width: 330px;
    height: 160px;
    left: 502px;
    top: 1910px;
    background: #FFFFFF;
    border: 1px solid #3DC9A1;
    border-radius: 30px 30px 30px 0px;
    margin-right: 2%;
}

.p-a-t-text {
    position: relative;
    width: 243.36px;
    height: 162px;
    left: 10px;
    top: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.5%;
    color: #191919;
}

.p-a-user-prof {
    position: relative;
    width: 43.5px;
    height: 43px;
    left: 1px;
    top: 3px;
}

.p-a-user-title {
    width: 118px;
    height: 24px;
    left: 52px;
    top: -48px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #191919;
    position: relative;
}

.p-a-testimonial-time {
    position: relative;
    width: 77px;
    height: 15px;
    left: 57px;
    top: -51px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
    color: #191919;
}

.p-a-user-name {
    width: 157px;
    height: 27px;
    left: 51px;
    top: -40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #191919;
    position: relative;
}

@media screen and (width: 425px) {
    .p-a-cat-slider {
        margin-right: 3%;
    }

    .p-a-cat-detail-descr {
        width: 340px!important;
        left: 14px!important;
    }

    .cat-detail-img {
        left: 13px!important;
        width: 345px!important;
        height: 188px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 30px!important;
        top: -10px!important;
    }

    .p-a-cat-image {
        width: 80%!important;
    }
    
    .p-a-cat-detail {
        width: 370px!important;
        left: 3px!important;
    }

    .p-a-detail-heading {
        font-size: 30px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -19px!important;
        width: 127px!important;
    }

    .p-a-accordion {
        width: 210%!important;
    }

    .p-a-panel {
        width: 210%!important;
    }

    .p-a-card-btn {
        width: 88px!important;
        height: 21px!important;
        margin-top: 0%;
    }

    .p-a-man {
        margin-left: -4%!important;
        max-width: 97%!important;
    }

    .p-a-man-col-6 {
        width: auto!important;
    }

    .p-a-second-card {
        margin-left: 0%!important;
    }

    .p-a-cards {
        width: 181px!important;
        height: 155px!important;
    }

    .p-a-card-img {
        width: 33%!important;
    }

    .practice-area {
        padding-left: 6%!important;
    }

    .p-a-col-6 {
        margin-right: -4%!important;
        width: 51%!important;
    }

    .p-a-header {
        width: 260px!important;       
        line-height: 29px!important;
        margin-top: 8%;
        font-size: 26px!important;
    }

    .p-a-card-name {
        width: 150px!important;
        line-height: 16px!important;
        margin-top: 8%;
        font-size: 13px!important;
    }

    .p-a-card-img {        
        top: 6%!important;
        width: 38%!important;
    }

    .p-a-third-row {
        margin-top: 5%;
        margin-left: -4%!important;
    }

    .p-a-faq-text { 
        font-size: 18px!important;
    }
   
    .p-a-frequent-text {
        width: 514px!important;
        font-size: 33px!important;
        line-height: 38px!important;
    }

    .navbar-brand {
        font-size: 25px!important;
    }
    
    .p-a-testimonials-header {
        text-align: unset;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-ask-lawyer {
        /* width: 376px!important; */
        left: 0px!important;
        height: auto!important;
    }

    .p-a-ask-lawyer-form {
        /* width: 352px!important; */
        left: 14px!important;
        top: 22px!important;
        height: 280px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 135%!important;
        top: -17.06%!important;
        width: 16%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 32%!important;
    }
    
    .p-a-lawyers3 {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 33%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 2%!important;
        font-size: 22px!important;
        margin-top: 9%!important;
    }
    
    .p-a-n-l-descr {
        width: 272px!important;
        margin-top: -3%!important;
    }

    .p-a-buy {
        left: 3%!important;
        top: 14px!important;
        width: 7%!important;
    }

    .p-a-buy-service-text {
        left: 5%!important;
        top: 11px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -24px!important;
        width: 5%!important;
        left: 50%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 51%!important;
        top: -69%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }

    .footer {
        margin-top: 0%!important;
    }
}


@media screen and (width: 320px) {     
    .p-a-cat-detail-descr {
        width: 263px!important;
        left: 14px!important;
    }

    .cat-detail-img {
        left: 13px!important;
        width: 269px!important;
        height: 188px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 28px!important;
    }
    
    .p-a-cat-detail {
        width: 290px!important;
        left: 3px!important;
    }

    .p-a-detail-heading {
        font-size: 30px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -15px!important;
    }

    .p-a-fourth-row {
        margin-top: 5%;
    }

    .p-a-testimonials-header {
        width: 118%!important;
        font-size: 35px;
        line-height: 96px;
        text-align: unset;
    }

    .p-a-accordion {
        width: 208%!important;
    }

    .p-a-panel {
        width: 200%!important;
    }

    .navbar-brand {
        font-size: 25px!important;
    }

    .p-a-card-btn {
        width: 88px!important;
        height: 21px!important;
        margin-top: 0%;
    }

    .p-a-second-card {
        margin-left: 4%!important;
    }

    .p-a-man-col-6 {
        width: auto!important;
    }

    .practice-area {
        padding-left: 9%!important;        
    }

    .p-a-card-name {
        width: 104px!important;
        line-height: 16px!important;
        margin-top: 17%!important;
    }

    .p-a-man {
        margin-left: -6%!important;
        max-width: 100%!important;
    }

    .p-a-frequent-text {
        width: 514px!important;
        font-size: 27px!important;
        line-height: 38px!important;
    }

    .p-a-faq-text { 
        font-size: 14px!important;
    }

    .p-a-cards {
        width: 157px!important;
        height: 139px!important;
    }

    .p-a-col-6 {
        margin-right: -10%!important;
        width: 51%!important;
    }

    .p-a-header {
        width: 260px!important;       
        line-height: 29px!important;
        margin-top: 8%;
        font-size: 26px!important;
    }

    .p-a-card-name {        
        font-size: 13px;
    }

    .p-a-card-img {        
        top: 6%!important;
        width: 38%!important;
    }

    .p-a-third-row {
        margin-top: 5%;
        margin-left: -4%!important;
    }

    .p-a-cat-slider {
        margin-right: 3%;
    }

    .p-a-detail {
        padding-left: 2%!important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-ask-lawyer {
        width: 319px!important;
        left: -5px!important;
        height: auto!important;
    }

    .p-a-ask-lawyer-form {
        /* width: 291px!important; */
        left: 14px!important;
        top: 22px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 110%!important;
        top: -16.06%!important;
        width: 13%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 93px!important;
        height: 82px!important;
        left: 5%!important;
        top: 24%!important;
    }
    
    .p-a-lawyers3 {
        width: 101px!important;
        height: 78px!important;
        left: 70%!important;
        top: -26%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 2%!important;
        font-size: 22px!important;
        margin-top: -12%!important;
    }
    
    .p-a-n-l-descr {
        width: 272px!important;
        margin-top: -3%!important;
    }

    .p-a-buy {
        left: 3%!important;
        top: 14px!important;
        width: 7%!important;
    }

    .p-a-buy-service-text {
        left: 5%!important;
        top: 11px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -24px!important;
        width: 5%!important;
        left: 50%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 51%!important;
        top: -69%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }
    .footer {
        margin-top: 0%!important;
    }
}

@media screen and (width: 375px) {
    .cat-detail-img {
        left: 13px!important;
        width: 290px!important;
        height: 188px!important;
    }

    .p-a-cat-detail-descr {
        width: 284px!important;
        left: 14px!important;
    }

    .p-a-cat-slider {
        margin-right: 3%!important;
    }
    
    .p-a-cat-detail {
        width: 310px!important;
        left: 0px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 28px!important;
    }

    .p-a-detail-heading {
        font-size: 30px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -19px!important;
    }

    .p-a-testimonials-header {
        font-size: 40px;
    }

    .p-a-accordion {
        width: 223%!important;
    }

    .p-a-panel {
        width: 223%!important;
    }

    .navbar-brand {
        font-size: 25px!important;
    }

    .p-a-card-btn {
        width: 88px!important;
        height: 21px!important;
        margin-top: 0%;
    }

    .p-a-frequent-text {
        width: 514px!important;
        font-size: 33px!important;
        line-height: 38px!important;
    }

    .p-a-man {
        margin-left: -4%!important;
        max-width: 100%!important;
    }

    .p-a-man-col-6 {
        width: auto!important;
    }

    .p-a-col-6 {
        margin-right: -8%!important;
        width: 51%!important;
    }

    .p-a-header {
        width: 260px!important;       
        line-height: 29px!important;
        margin-top: 8%;
        font-size: 26px!important;
    }

    .p-a-cards {
        width: 157px!important;
        height: 155px!important;
    }

    .p-a-second-card {
        margin-left: 4%!important;
    }

    .p-a-card-name {
        width: 150px!important;
        line-height: 16px!important;
        margin-top: 8%;
        font-size: 13px!important;
    }

    .p-a-card-img {        
        top: 6%!important;
        width: 38%!important;
    }

    .practice-area {
        padding-left: 12%!important;
    }

    .p-a-third-row {
        margin-top: 5%;
        margin-left: -4%!important;
    }

    .p-a-faq-text { 
        font-size: 18px!important;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-ask-lawyer {
        width: 376px!important;
        left: -44px!important;
        height: auto!important;
    }

    .p-a-ask-lawyer-form {
        width: 352px!important;
        left: 14px!important;
        top: 22px!important;
        height: 280px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 135%!important;
        top: -17.06%!important;
        width: 16%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 32%!important;
    }
    
    .p-a-lawyers3 {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 33%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 2%!important;
        font-size: 22px!important;
        margin-top: 9%!important;
    }
    
    .p-a-n-l-descr {
        width: 272px!important;
        margin-top: -3%!important;
    }

    .p-a-buy {
        left: 3%!important;
        top: 14px!important;
        width: 7%!important;
    }

    .p-a-buy-service-text {
        left: 5%!important;
        top: 11px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -24px!important;
        width: 5%!important;
        left: 50%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 51%!important;
        top: -69%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }
    .footer {
        margin-top: 0%!important;
    }
}

@media screen and (width: 640px) {
    .p-a-cat-slider {
        margin-right: 3%;
    }

    .p-a-cat-detail-descr {
        width: 477px!important;
        left: 14px!important;
    }

    .cat-detail-img {
        left: 13px!important;
        width: 480px!important;
        height: 260px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 35px!important;
        top: -10px!important;
    }

    .p-a-cat-image {
        width: 100%!important;
    }
    
    .p-a-cat-detail {
        width: 510px!important;
        left: 3px!important;
    }

    .p-a-detail-heading {
        font-size: 30px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -7px!important;
        width: 127px!important;
    }

    .p-a-col-6 {
        margin-right: -6%!important;
        width: 59%!important;
    }

    .practice-area {
        padding-left: 0%!important;
    }

    .p-a-header { 
        font-size: 32px!important;
    }

    .p-a-card-img {
        top: 5%!important;
        width: 40px!important;
    }

    .p-a-cards {
        height: 146px!important;
        width: 42%!important;
    }

    .p-a-card-name {
        width: 94px!important;
        height: 51px!important;
        font-size: 13px!important;
        line-height: 16px!important;
        margin-top: 6%!important;
    }

    .p-a-card-btn {
        width: 88px!important;
        height: 27px!important;
    }

    .p-a-frequent-text {
        font-size: 22px!important;
        line-height: 30px!important;
    }

    .p-a-faq-text {
        font-size: 16px!important;
    }

    .p-a-accordion {
        width: 120%!important;
        font-size: 11px!important;
        padding: 5px!important;
    }

    .p-a-man {
        margin-left: -5%!important;
    }

    .p-a-third-row {
        margin-left: -9%;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-ask-lawyer {
        width: 510px!important;
        left: 2px!important;
        height: auto!important;
    }

    .p-a-ask-lawyer-form {
        /* width: 410px!important; */
        left: 14px!important;
        top: 22px!important;
        height: 280px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 135%!important;
        top: -17.06%!important;
        width: 16%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 32%!important;
    }
    
    .p-a-lawyers3 {
        width: 110px!important;
        height: 90px!important;
        left: 5%!important;
        top: 33%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 2%!important;
        font-size: 22px!important;
        margin-top: 9%!important;
    }
    
    .p-a-n-l-descr {
        width: 272px!important;
        margin-top: -3%!important;
    }

    .p-a-buy {
        left: 3%!important;
        top: 14px!important;
        width: 7%!important;
    }

    .p-a-buy-service-text {
        left: 5%!important;
        top: 11px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -24px!important;
        width: 5%!important;
        left: 50%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 51%!important;
        top: -69%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }

    .footer {
        margin-top: 0%!important;
    }
}

@media screen and (width: 768px) {
    .p-a-cat-slider {
        margin-right: 3%;
    }

    .p-a-cat-detail-descr {
        width: 640px!important;
        left: 14px!important;
    }

    .cat-detail-img {
        left: 13px!important;
        width: 645px!important;
        height: 390px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 38px!important;
        top: -10px!important;
    }

    .p-a-cat-image {
        width: 80%!important;
    }
    
    .p-a-cat-detail {
        width: 684px!important;
        left: 3px!important;
    }

    .p-a-detail-heading {
        font-size: 44px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -12px!important;
        width: 127px!important;
    }

    .p-a-accordion {
        width: 109%!important;
        font-size: 13px!important;
        padding: 16px!important;
    }

    .p-a-panel {
        width: 109%!important;
    }

    .p-a-cards {
        height: 138px!important;
    }
    
    .p-a-card-img {
        width: 35px!important;
        top:10%!important;
    }
    
    .p-a-card-name {
        width: 147px!important;
        height: 44px!important;
        font-size: 13px!important;
        line-height: 13px!important;
        margin-top: 14%!important;
    }
    
    .p-a-card-btn {
        width: 88px;
        height: 28px;
        margin-top: -6%;
    }

    .p-a-frequent-text {
        font-size: 34px!important;
        line-height: 40px!important;
    }

    .p-a-faq-text {
        font-size: 18px!important;
    }

    .p-a-second-card {
        margin-left: -5%!important;
    }

    .p-a-col-6 {
        width: 59%!important;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-ask-lawyer {
        width: 687px!important;
        left: 2px!important;
        height: 330px!important;
    }

    .p-a-ask-lawyer-form {
        width: 325px!important;
        left: 14px!important;
        top: 22px!important;
        height: 280px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 135%!important;
        top: -17.06%!important;
        width: 16%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 110px!important;
        height: 90px!important;
        left: 68%!important;
        top: -300%!important;
    }
    
    .p-a-lawyers3 {
        width: 110px!important;
        height: 90px!important;
        left: 50%!important;
        top: -194%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 55%!important;
        font-size: 22px!important;
        margin-top: -40%!important;
    }
    
    .p-a-n-l-descr {
        width: 200px!important;
        margin-top: -33%!important;
        left: 55%!important;
    }

    .p-a-buy {
        left: 59%!important;
        top: -106px!important;
        width: 4%!important;
    }

    .p-a-buy-service-text {
        left: 60%!important;
        top: -111px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -142px!important;
        width: 4%!important;
        left: 80%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 81%!important;
        top: -417%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }

    .footer {
        margin-top: 0%!important;
    }
}

@media screen and (width: 1024px) {
    .p-a-cat-slider {
        margin-right: 3%;
    }

    .p-a-cat-detail-descr {
        width: 640px!important;
        left: 14px!important;
    }

    .cat-detail-img {
        left: 13px!important;
        width: 645px!important;
        height: 390px!important;
    }

    .p-a-detail-heading2 {
        height: 90px!important;
        left: 12px!important;
        font-size: 38px!important;
        top: -10px!important;
    }

    .p-a-cat-image {
        width: 80%!important;
    }
    
    .p-a-cat-detail {
        width: 707px!important;
        left: 3px!important;
    }

    .p-a-detail-heading {
        font-size: 44px!important;
    }

    .p-a-active {
        left: -2px!important;
        top: -12px!important;
        width: 127px!important;
    }
    
    .practice-area {
        padding-left: 9%!important;
    } 

    .p-a-accordion {
        width: 108%!important;
        font-size: 15px!important;
        padding: 12.9px!important;
    }

    .p-a-panel {
        width: 108%!important;
    }

    .p-a-card-img {
        top:8%;
    }

    .p-a-card-name { 
        width: 169px!important;
        font-size: 15px!important;
        line-height: 16px!important;
        margin-top: 16px!important;
    }

    .p-a-cards {
        height: 181px!important;
        width: 43%!important;
    }

    .p-a-frequent-text {
        font-size: 31px!important;
        line-height: 36px!important;
    }

    .p-a-faq-text {
        font-size: 20px!important;
    }

    .p-a-col-6 {
        margin-right: -3%!important;
        width: 54%!important;
    }

    .footer.with-sidebar-always-open {
        margin-left: 27px!important;
    }

    .p-a-detail-accord {
        width: 102%!important;
    }

    .p-a-d-a-text {
        width: 89%!important;
    }

    .p-a-d-panel {
        width: 104% !important;
    }

    .p-a-ask-lawyer {
        width: 687px!important;
        left: 2px!important;
        height: 330px!important;
    }

    .p-a-ask-lawyer-form {
        width: 325px!important;
        left: 14px!important;
        top: 22px!important;
        height: 280px!important;
    }

    .p-a-l-f-s-else {
        width: 167px!important;
        left: 3px!important;
        top: 20px!important;
        font-size: 15px!important;
        line-height: 4px!important;
        color: #191919;
        margin-bottom: 5%;
    }

    .p-a-hangout-img {
        left: 135%!important;
        top: -17.06%!important;
        width: 16%!important;
    }

    .p-a-p-a-q-img {
        width: 14.83px!important;
        height: 14.83px!important;
        left: 8px!important;
    }

    .p-a-p-a-q-text {
        width: 100px!important;
        left: 25px!important;
        top: -15px!important;
        font-size: 9px!important;
    }

    .p-a-h-l-btn {
        width: 88px!important;
        height: 31px!important;
        top: 3px!important;
        padding: 0%!important;
    }

    .p-a-p-a-q-text2 {
        line-height: 28px!important;
    }

    .p-a-h-img {
        top: 7px!important;
    }

    .p-a-lawyers {
        width: 110px!important;
        height: 90px!important;
        left: 68%!important;
        top: -300%!important;
    }
    
    .p-a-lawyers3 {
        width: 110px!important;
        height: 90px!important;
        left: 50%!important;
        top: -194%!important;
    }
    
    .p-a-lawyer1 {
        width: 30.23px!important;
        height: 30.36px!important;
    }
    
    .p-a-l-name1 {
        height: 15px!important;
        left: 13px!important;
        top: 1px!important;
        font-size: 10px!important;
    }
    
    .p-a-l-loc1 {
        left: 13px!important;
    }

    .p-a-n-l {
        left: 55%!important;
        font-size: 22px!important;
        margin-top: -40%!important;
    }
    
    .p-a-n-l-descr {
        width: 200px!important;
        margin-top: -33%!important;
        left: 55%!important;
    }

    .p-a-buy {
        left: 59%!important;
        top: -106px!important;
        width: 4%!important;
    }

    .p-a-buy-service-text {
        left: 60%!important;
        top: -111px!important;
        font-size: 12px!important;
    }

    .p-a-quote {
        top: -142px!important;
        width: 4%!important;
        left: 80%!important;
        margin-left: 0%!important;
    }

    .p-a-quote-service-text {
        left: 81%!important;
        top: -417%!important;
        font-size: 13px!important;
        margin-top: 0%!important;
        margin-left: 0%!important;
    }

    .footer {
        margin-top: 0%!important;
    }

    .p-a-detail {
        padding-left: 2%!important;
    }
}

@media screen and (width: 1920px) {
    .p-a-categories {
        width: 160px!important;
    }

    .p-a-cat-image {
        width: 75%!important;
    }

    .p-a-detail-heading {
        font-size: 60px!important;
    }

    .p-a-cat-detail {
        width: 98.7%!important;
    }

    .p-a-detail-heading2 {
        font-size: 44px!important;
    }

    .cat-detail-img {
        width: 90%!important;
        height: 90%!important;
    }

    .p-a-cat-detail-descr {
        width: 90%!important;
    }

    .p-a-cat-detail-descr-p {
        font-size: 20px!important;
    }

    .practice-area {
        padding-left: -1px!important;
    }

    .p-a-col-6 {
        width: 58%!important;
    }

    .p-a-card-name {
        line-height: 19px!important;
        margin-top: 10%!important;
    }

    .p-a-card-img {
        top: 11%!important;
        width: 70px!important;
    }

    .p-a-card-btn {
        margin-top: 0%!important;
    }

    .p-a-detail-accord {
        font-size: 17px!important;
    }

    .p-a-ask-lawyer {
        /* width: 98.7%!important; */
    }

    .p-a-n-l-descr {
        width: 324px!important;
        left: 10%!important;
        font-size: 18px!important;
        margin-top: -19%!important;
    }

    .p-a-n-l {
        left: 49%!important;
        margin-top: -23%!important;
    }

    .p-a-buy {
        left: 53%!important;
        top: -272%!important;
    }
    
    .p-a-buy-service-text {
        width: 104px!important;
        left: 54%!important;
        top: -290%!important;
        font-size: 17px!important;
    }

    .p-a-quote {
        left: 52%!important;
        top: -299%!important;
        margin-left: 19%!important;
    }

    .p-a-quote-service-text { 
        width: 94px!important;
        left: 53%!important;
        top: -321%!important;
        font-size: 18px!important;
    }

    .p-a-lawyers3 {
        left: 67%!important;
    }
}


/* Practice area details */

.green-bg {
    background: #E8F8F2;
}

.p-a-detail-heading {
    position: relative;
    width: 580px;
    height: 96px;
    left: 10px;
    top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 96px;
    color: #156075;
}

.p-a-detail-heading2 {
    position: relative;
    width: 580px;
    height: 96px;
    left: 40px;
    top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 96px;
    color: #156075;
}

.p-a-categories {
    box-sizing: border-box;
    position: relative;
    width: 114px;
    height: 113px;
    left: 22px;
    top: 10px;
    background: #FFFFFF;
    border: 1px solid #C2DDE4;
}

.p-a-cat-image {
    position: relative;
    left: -0.3%;
    right: 45.25%;
    top: 0.3%;
    bottom: 89.78%;
    border: 24px solid #FFFFFF;
}

.p-a-cat-name {
    position: relative;
    width: 92px;
    height: 21px;
    left: -2px;
    top: -17px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #156075;
}

.p-a-active {
    position: relative;
    width: 116px;
    height: 5px;
    left: -14px;
    top: 0px;
    background: #85BACA;
}

.p-a-cat-detail {
    position: relative;
    width: 913px;
    height: auto;
    left: 21px;
    top: 10px;
    background: #FFFFFF;
}

.cat-detail-img {
    left: 40px;
    position: relative;
    width: 740px;
    height: 430px;
    top: -23%;
}

.p-a-cat-detail-descr {
    position: relative;
    width: 794px;
    left: 40px;
    margin-top: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #191919;
}

.p-a-cat-detail-descr-p {
    margin-bottom: 3%;
}

.p-a-ask-lawyer {
    position: initial;
    /* width: 915px; */
    height: 390px;
    left: 20px;
    top: 34px;
    background: rgba(194, 221, 228, 0.5);
}

.p-a-ask-lawyer-form {
    position: relative;
    /* width: 500px; */
    height: 307px;
    left: 30px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 15px;
}

.p-a-l-f-s-else {
    position: relative;
    width: 300px;
    height: 48px;
    left: 10px;
    top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 42px;
    color: #191919;
}

.p-a-hangout-img {
    position: relative;
    left: 135%;
    top: -76.06%;
    bottom: 12.96%;
    width: 13%;
}

.p-a-p-a-q-img {
    position: relative;
    width: 22.83px;
    height: 22.82px;
    left: 35px;
    top: 10px;
}

.p-a-p-a-q-text {
    position: relative;
    width: 117px;
    left: 41px;
    top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    color: #191919;
    vertical-align: top;
}

.p-a-form-btn {
    margin-left: -4%;
}

.p-a-textarea {
    max-height: 170px;
}

.p-a-lawyers {
    position: relative;
    width: 107px;
    height: 105px;
    left: 76%;
    top: -275%;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin-right: 1%;
}

.p-a-lawyers3 {
    position: relative;
    width: 107px;
    height: 105px;
    left: 63%;
    top: -165%;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin-right: 1%;
}

.p-a-h-l-btn {
    position: relative;
    width: 168px;
    height: 44px;
    left: 3px;
    top: 4px;
    background: #EFEFEF;
    border-radius: 10px;
}

.p-a-lawyer1 {
    position: relative;
    width: 51.23px;
    height: 50.36px;
    left: 17px;
    top: 4px;
}

.p-a-l-name1 {
    position: relative;
    width: 81px;
    height: 24px;
    left: 7px;
    top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #191919;
}

.p-a-l-loc1 {
    font-size: 8px;
    left: 11px;
    position: relative;
}

.p-a-n-l {
    position: relative;
    width: 516px;
    height: 48px;
    left: 60%;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    color: #156075;
    margin-top: -31%;
}

.p-a-n-l-descr {
    position: relative;
    width: 249px;
    height: 74px;
    left: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #191919;
    margin-top: -26%;
}

.p-a-buy {
    position: relative;
    left: 64%;
    top: -317%;
    width: 3%;
}

.p-a-quote {
    position: relative;
    left: 62%;
    top: -317%;
    width: 3%;
    margin-left: 19%;
}

.p-a-buy-service-text {
    position: relative;
    width: 94px;
    height: 35px;
    left: 65%;
    top: -331%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #191919;
}

.p-a-quote-service-text {
    position: relative;
    width: 94px;
    height: 35px;
    left: 63%;
    top: -331%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #191919;
    margin-top: 1.8%;
    margin-left: 0%;

}

