.list-view {
    box-sizing: border-box;
    position: relative;
    /* width: 97%; */
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 2%;
}

.q-a-title {
    position: relative;
    width: 983px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #156075;
    margin-left: 1%;
    margin-top: 1%;
}

.q-a-descr {
    position: absolute;
    width: 760px;
    height: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #191919;
    margin-left: 1%;
}

.q-a-view-count {
    position: relative;
    width: 40px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    color: #156075;
    margin-left: 75%;
    margin-top: -3%;
}

.q-a-date {
    position: relative;
    width: 99px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #191919;
    float: right;
    margin-top: -3.4%;
}

.q-a-lawyers3 {
    left: 63%!important;
}

h1 {
    font-family: "Poppins-Medium"!important;
}

.question-answer-card {
    background-color: white;
    border: 1px solid #D9D9D9;
}

.hover-card:hover {
    background-color: #E8F8F2;
}

.question-answers {
    padding-top: 0%!important;
    background: #F4FEFA!important;
}

.question-answer-body {
    /* margin-left: -5%!important; */
    /* margin-top: -8%!important; */
}

.change-view {
    width: 50%;
}

.q-a-ask-lawyer {
    position: relative;
    width: 87%;
    /* height: fit-content; */
    left: 1px;
    top: 1px;
    background: rgba(194, 221, 228, 0.5);
}

.q-a-n-l-descr {
    position: relative;
    width: 249px;
    height: 74px;
    left: 4%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #191919;
    margin-top: -26%;
}

.q-a-n-l {
    position: relative;
    width: 516px;
    height: 48px;
    left: 61%;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 48px;
    color: #156075;
    margin-top: -31%;
}

.q-a-buy {
    position: relative;
    left: 57%;
    top: -317%;
    width: 3%;
}

.q-a-buy-service-text {
    position: relative;
    width: 94px;
    height: 35px;
    left: 58%;
    top: -331%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #191919;
}

.q-a-quote {
    position: relative;
    left: 55%;
    top: -317%;
    width: 3%;
    margin-left: 19%;
}

.q-a-quote-service-text {
    position: relative;
    width: 94px;
    height: 35px;
    left: 56%;
    top: -331%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #191919;
    margin-top: 1.8%;
    margin-left: 0%;
}

.q-a-ask-lawyer-form {
    height: 299px!important;
}

.q-n-l-block {
    margin-left: 7%;
}

@media screen and (width: 320px) {
    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 305px!important;
    }

    .q-a-descr {
        width: 283px!important;
        font-size: 13px!important;
        line-height: 16px!important;
        margin-top: -7%!important;
    }

    .q-a-view-count {
        line-height: 180px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 11.6%!important;
    }

    .q-a-ask-lawyer {
        left: -16px!important;
    }

    .q-a-lawyers3 {
        left: 70%!important;
    }
}

@media screen and (width: 375px) {
    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 305px!important;
    }

    .q-a-descr {
        width: 283px!important;
        font-size: 13px!important;
        line-height: 16px!important;
        margin-top: -7%!important;
    }

    .q-a-view-count {
        line-height: 180px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 11.6%!important;
    }

    .q-a-ask-lawyer {
        left: -16px!important;
    }

    .q-a-lawyers3 {
        left: 5%!important;
    }
}

@media screen and (width: 425px) {
    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 373px!important;
    }

    .q-a-descr {
        width: 365px!important;
        font-size: 13px!important;
        line-height: 17px!important;
        margin-top: -4%!important;
    }

    .q-a-view-count {
        line-height: 180px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 11.6%!important;
    }

    .q-a-ask-lawyer {
        width: 423px!important;
        left: -16px!important;
    }

    .q-a-ask-lawyer-form {
        left: 35px!important;
    }

    .q-a-lawyers {
        left: 35px!important;
    }

    .q-a-lawyers3 {
        left: 35px!important;
    }

    .q-a-n-l {
        left: 8%!important;
    }

    .q-n-l-block {
        margin-left: auto!important;
    }
}

@media screen and (width: 768px) {
    .q-v {
        margin-left: 5%!important;
    }

    .list-view {
        height: 109px!important;
    }

    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 520px!important;
    }

    .q-a-descr {
        width: 513px!important;
        font-size: 13px!important;
        line-height: 17px!important;
        margin-top: -3%!important;
    }

    .q-a-view-count {
        line-height: 142px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 1.6%!important;
    }    


    .q-a-lawyers {
        width: 100px!important;
    }

    .q-a-lawyers3 {
        left: 49.8%!important;
        width: 100px!important;
    }

    .q-a-ask-lawyer {
        width: 614px!important;
    }

    .q-a-n-l {
        left: 57%!important;
        font-size: 19px!important;
        margin-top: -45%!important;
    }

    .q-a-n-l-descr {
        font-size: 11px!important;
        width: 181px!important;
        margin-top: -38%!important;
        left: 57%!important;
    }

    .q-n-l-block {
        margin-left: auto;
    }
}

@media screen and (width: 1024px) {
    .q-v {
        margin-left: 5%!important;
    }

    .list-view {
        height: 109px!important;
    }

    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 520px!important;
    }

    .q-a-descr {
        width: 513px!important;
        font-size: 13px!important;
        line-height: 17px!important;
        margin-top: -3%!important;
    }

    .q-a-view-count {
        line-height: 142px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 1.6%!important;
    }

    .q-a-lawyers {
        width: 100px!important;
    }

    .q-a-lawyers3 {
        left: 49.8%!important;
        width: 100px!important;
    }

    .q-a-ask-lawyer {
        width: 614px!important;
    }

    .q-a-n-l {
        left: 57%!important;
        font-size: 19px!important;
        margin-top: -45%!important;
    }

    .q-a-n-l-descr {
        font-size: 11px!important;
        width: 181px!important;
        margin-top: -38%!important;
        left: 57%!important;
    }

    .q-n-l-block {
        margin-left: auto;
    }

    .rate-answer {
        font-size: 8px!important;
    }

    .book-a-btn {
        font-size: 7px!important;
    }

    .h-l {
        font-size: 7px!important;
    }
}

@media screen and (width: 640px) {
    .q-u-name {
        margin-top: 3%!important;
    }

    .rating-div {
        margin-left: 54%;
    }

    .q-a-title {
        font-size: 15px!important;
        line-height: 21px!important;
        width: 449px!important;
    }

    .q-a-descr {
        width: 365px!important;
        font-size: 13px!important;
        line-height: 17px!important;
        margin-top: -3%!important;
    }

    .q-a-view-count {
        line-height: 180px!important;
        margin-left: 0%!important;
        margin-top: -3%!important;
    }

    .q-a-date {
        margin-top: 7.6%!important;
    }

    .q-a-ask-lawyer-form {
        left: 50px!important;
        height: 275px!important;
    }

    .q-l-section {
        margin-left: auto!important;
    }

    .q-a-n-l-main {
        margin-left: 5%!important;
    }

    .q-a-n-l-descr {
        left: 2%!important;
    }

    .q-a-ask-lawyer {
        left: 15px!important;
    }

    .q-a-lawyers3 {
        left: 5%!important;
    }
}

@media screen and (width: 1920px) {
    .list-view {
        margin-left: 0%!important;
    }

    .q-a-ask-lawyer {
        width: 86.7%!important;
        margin-bottom: 3%!important;
    }

    .q-a-lawyers3 {
        left: 65.5%!important;
    }

    .q-a-n-l {
        font-size: 35px!important;
        left: 59%!important;
        margin-top: -25%!important;
    }

    .q-a-n-l-descr {
        left: 12%!important;
        font-size: 18px!important;
        margin-top: -20%!important;
    }

    .q-a-quote {
        top: -289%!important;
    }

    .q-a-quote-service-text {
        top: -303%!important;
    }
}


.q-a-details {
    margin-left: 5%;
    margin-top: 5%;
}

.q-card {
    box-sizing: border-box;
    /* width: 620px; */
    height: 393px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 2%;
    margin-right: 2%;
}

.q-v-a-lawyer {
    box-sizing: border-box;
    /* width: 413px; */
    /* height: auto; */
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.q-v-a {
    box-sizing: border-box;
    width: 108%;
    height: 79px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    margin-left: -4%;
}

.q-o-l {
    width: 123px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #156075;
}

.q-l-list {
    box-sizing: border-box;
    /* width: 383px; */
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    margin-bottom: 2%;
}


.q-a-ans {
    box-sizing: border-box;
    /* width: 896px; */
    height: 288px;
    background: #F0FAFD;
    border: 1px solid #D9D9D9;
}

.q-u-comment {
    box-sizing: border-box;
    /* width: 896px; */
    height: 142px;
    background: #F0FAFD;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.q-v-a-lawyers {
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    color: #156075;
    text-align: center;
}

.q-service-card {
    box-sizing: border-box;
    height: 357px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-right: 2%;
}

.q-r-art {
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #156075;
}


.ask-lawyer {
    position: relative;
    width: 85.333333%!important;
    height: 390px;
    top: 34px;
    background: rgba(194, 221, 228, 0.5);
}

.n-lawyers {
    position: relative;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin-right: 1%;
}

.q-a-q {
    font-size: 23px;
    line-height: 24px;
    color: #156075;
}

.q-u-name {
    position: absolute;
    font: 15px "Poppins-Bold";
    line-height: 9px;
    color: #191919;
    margin-top: 1%;
}

.q-rating-card {
    box-sizing: border-box;
    position: absolute;
    /* width: 143.33px; */
    height: 33.95px;
    border: 1px solid #156075;
    border-radius: 26px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rating-color {
    color:#FFAC33;
}
@media screen and (max-width: 425px) {

    .change-the-view-inner {
        display: flex!important;
        width: max-content!important;
    }

    .question-answers-header {
        /* margin-bottom: -60%!important; */
    }
    
    .q-rating-card {
        margin-left: 47%!important;
        margin-top: 1%!important;
    }
    
    .ratings {
        margin-top: 7%!important;
    }
    
    .q-u-name { 
        margin-top: 6%!important;
    }

    .rate-answer {
        font-size: 8px!important;
    }

    .book-a-btn {
        font-size: 7px!important;
    }

    .h-l {
        font-size: 7px!important;
    }

    .q-btns {
        width: 30%!important;
    }

    .s-price {
        font-size: 20px!important;
    }    
}

@media screen and (width: 768px) {
    .q-u-name {
        margin-top: 3%!important;
    }

    .rate-answer {
        font-size: 8px!important;
    }

    .book-a-btn {
        font-size: 7px!important;
    }

    .h-l {
        font-size: 7px!important;
    }
}

.q-comment {
    font-size: 15px;
    line-height: 20px;
    color: #191919;
}

.rate-answer {
    box-sizing: border-box;
    border: 1.5px solid #156075;
    border-radius: 10px;
    color: #156075;
    background: white;
}

.btn-outline-primary {
    border: #156075!important;
}

.rate-img {
    width: 12%;
}

.book-a-btn {
    background: #85BACA;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: 1%;
    font-size: 11px;
}

.h-l {
    background: #156075;
    border-radius: 10px;
    color: white;
    font-size: 11px;
    margin-right: 2%;
}

.q-descr {
    font: 13px "Poppins-Regular";
}

.star-unchecked {
    color: #FFAC33;
}

.r-count {
    font: 7px "Poppins-Regular";
}

.q-loc {
    width: 8px;
}

.q-loc-n {
    font: 10px "Poppins-Regular";
}

.eye {
    box-sizing: border-box;
    position: absolute;
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #3DC9A1;
    border-radius: 22px;
}

.eye-b {
    margin-top: -57px;
    margin-right: 5%;
}

.q-l-list:hover {
    background-color: #E8F8F2;
}

.q-l-list:hover .eye {
    background-color: #3DC9A1;
}

.q-l-list:hover .eye-img {
    filter: brightness(0) invert(1);
}

.eye-img {
    margin-top: 30%;
    margin-left: 25%;
}

.q-v {
    margin-left: 15%;
}

.q-v-count {
    font-size:20px;
    vertical-align: bottom;

}

.q-a-count {
    vertical-align: top;
}

.q-p {
    padding-top: 15%;
}

.service-title {
    font-size: 22px;
    line-height: 25px;
    color: #156075;
}

.s-price {
    font-size: 22px;
    color: #156075;
}

.s-s-m {
    background: rgba(194, 221, 228, 0.5);
    border: none;
    color: #156075;
    float: right;
}

.q-descr-text {
    font: 13px "Poppins-Regular"!important;
}

.like {
    width: 30px;
}

.rating-form-header {
    font: 30px "Poppins-Bold";
    line-height: 48px;
    color: #156075;
}

.y-r {
    font-size: 20px;
    line-height: 100%;
    color: #191919;
}

.r-c {
    margin-left: 5%;
}

.r-s-btn {
    background: #208C84;
    color: white;
}



.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    }
    .rate:not(:checked) > input {
    position:absolute;
    display: none;
    }
    .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    }
    .rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    }
    .rate:not(:checked) > label:before {
    content: '★ ';
    }
    .rate > input:checked ~ label {
    color: #FFAC33;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
    color: #FFAC33;
    }
    .star-rating-complete{
       color: #FFAC33;
    }
    .rating-container .form-control:hover, .rating-container .form-control:focus{
    background: #fff;
    border: 1px solid #ced4da;
    }
    .rating-container textarea:focus, .rating-container input:focus {
    color: #000;
    }
    .rated {
    float: left;
    height: 46px;
    padding: 0 10px;
    }
    .rated:not(:checked) > input {
    position:absolute;
    display: none;
    }
    .rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#FFAC33;
    }
    .rated:not(:checked) > label:before {
    content: '★ ';
    }
    .rated > input:checked ~ label {
    color: #FFAC33;
    }
    .rated:not(:checked) > label:hover,
    .rated:not(:checked) > label:hover ~ label {
    color: #deb217;
    }
    .rated > input:checked + label:hover,
    .rated > input:checked + label:hover ~ label,
    .rated > input:checked ~ label:hover,
    .rated > input:checked ~ label:hover ~ label,
    .rated > label:hover ~ input:checked ~ label {
    color: #FFAC33;
    }